/* universal selector matches elements of all type in the html doc, applying this css properties to all the elements. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body selector to target the whole document body, changing the background color to choosen colour */
body {
    background-color: #d9dcd6;
}

/* ---HEADER CSS--- */
/* selects the header class, adding properties to it */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* descendant selector from the header class, selecting the child h1 tag*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* descendant selector from the header class, selecting the child h1 tag and the class tag inside */
.header h1 .seo {
    color: #d9dcd6;
}

/* changed descendant div selector -> nav selector, adding properties to it */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* altered the descendant selector from div tag to nav tag */
.header nav ul {
    list-style-type: none;
}

/* altered the descendant selector from div tag to nav tag */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* changed a selector > nav-link class selector */
.nav-link {
    color: #ffffff;
    text-decoration: none;
}

/* removed the background-image property, using html src attribute to path to image file */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* ---SECTION CSS--- */
/* select content class tag and applies the properties */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* multiple class selector, removing repeating code */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* selects the specific class and applies the properties */
.float-left {
    float: left;
    margin-right: 25px;
}

/* selects the specific class and applies the properties */
.float-right {
    float: right;
    margin-left: 25px;
}

/* multiple class selector, removing repeating code */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* multiple class selector, removing repeating code */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* p tag selector, effecting all p tags in the html doc */
p {
    font-size: 16px;
}

/* ---ASIDE CSS--- */
/* selects benefit class and applies the properties */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* multiple class selector, removing repeating code */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* multiple class selector, removing repeating code */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* multiple class selector, removing repeating code */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* ---FOOTER CSS--- */
/* select footer class and applies the properties */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* descendant selector to the h2 tag child element */
.footer h2 {
    font-size: 20px;
}
